/*
Source box styles
Author: Clara Moraes Dantas;
*/

hr {
	margin-top: 39em;
	margin-bottom: 1.5em;
}

.instruction {
	background-color: #f7f7f7;
	width: 80em;
	height: 27em;
	margin-top: 0em;
}

h2 {
	font-family: Consolas, Arial, sans-serif;
}

.insTitle {
	margin-left: 10em;
}
