/*
Source box styles
Author: Clara Moraes Dantas;
*/

.sourceDiv {
	border: 2px solid #f7f7f7;
	border-radius: 2px;
	background-color: #f7f7f7;
	width: 52.5em;
	height: 29.7em;
	padding: 0;
	margin-top: 0;
	margin-left: 1em;
}

#source {
	border: 2px solid #f7f7f7;
	border-radius: 2px;
	background-color: #f7f7f7;
	display: inline;
	float: right;
	width: 40em;
	height: 24em;
	font-family: Corben, Georgia, Times, sans-serif;
	font-size: 17px;
	line-height: 17px;
}

.rows {
	border: 2px solid #c9c9c9;
	position: absolute;
	z-index: 0;
	background-color: #c9c9c9;
	font-family: monospace;
	font-size: 15px;
	overflow: hidden;
	text-align: left;
	width: 3%;
	max-height: 27.5em;
}
